<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Cursos</title>
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>

<h1>Cursos Disponíveis</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Ações</th>
  </tr>
  <tr th:each="curso : ${cursos}">
    <td th:text="${curso.nome}">Curso Nome</td>
    <td th:text="${curso.descricao}">Curso Descrição</td>
    <td>
      <a th:href="@{/cursos/{id}(id=${curso.id})}">Detalhes</a>
    </td>
  </tr>
</table>

<a th:href="@{/cursos/novo}">Novo Curso</a>
</body>
</html>
